%stretch-to-sides {
  left: 0;
  right: 0;
}

%stick-on-top {
  @extend %stretch-to-sides;
  position: fixed;
  top: 0;
}

%stretch-to-container {
  @extend %stretch-to-sides;
  position: absolute;
  top: 0;
  bottom: 0;
}

%vertically-aligned {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) !important;
}

%horizontally-aligned {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) !important;
}