@import 'extensions';
@import 'colours';

body {
  position: relative;
}

a {
  color: $colour-interact;
  font-size: 1em;
  &:hover {
    cursor: pointer;
  };
}

.ui.segment {
  border: none !important;
}

.p-fade-italic {
  color: $colour-grey;
  font-style: italic;
}
.p-desktop {
  text-indent: 10px;
}
.p-highlight {
  color: $colour-highlight;
  margin: 1em 0;
}

.app-dimmer {
  z-index: 9999;
}

.nav-wrapper {
  @extend %stick-on-top;
  height: 4em;
  padding: 0 5em;
  z-index: 9998;

  .nav-logo {
    height: 2.5em;
    width: 4em;
  }
}

.main-wrapper {
  @extend %stretch-to-container;

  .main-model {
    @extend %stretch-to-container;
  }
  .btn-building {
    @extend %vertically-aligned;
    top: 12em;
  }
  .main-selection {
    @extend %vertically-aligned;
    top: 8em;
    display: flex;
  }
  .main-dropdown {
    width: 30em !important;
  }
  .ui.overlay {
    background: white;
  }
}

.ld-wrapper {
  @extend %horizontally-aligned;
  background: white;
  padding: 0 4em;
}

.ff-wrapper {
  @extend %stretch-to-container;
  background: white;
  padding-top: 8em;
  .ff-model {
    @extend %stretch-to-container;
  }
  .ff-container {
    border-bottom: 1px solid $colour-grey-light;
    margin: 2em 0 0;
    padding: 2em 2em 4em;
  }
  .ui.push {
    background: $colour-interact;
    padding: 0 2em;
  }
  // funfacts page sidebar form
  .ui.form {
    margin: 0 auto;
  }
  .ff-form-label {
    color: white !important;
    font-size: 1.25em !important;
  }
}