%stretch-to-sides {
  left: 0;
  right: 0;
}

%stick-on-top {
  @extend %stretch-to-sides;
  position: fixed;
  top: 0;
}

%stretch-to-container {
  @extend %stretch-to-sides;
  position: absolute;
  top: 0;
  bottom: 0;
}

%vertically-aligned {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0) !important;
}


body {
  position: relative;
}

.nav-wrapper {
  @extend %stick-on-top;
  height: 4em;
  padding: 0 5em;
  z-index: 9999;

  .nav-logo {
    height: 2.5em;
    width: 4em;
  }
}

.main-wrapper {
  @extend %stretch-to-container;

  .main-model {
    @extend %stretch-to-container
  }
  .btn-building {
    margin-top: 50px;
  }
  .main-dropdown {
    @extend %vertically-aligned;
    width: 35em !important;
    top: 8em;
  }
}